.main .content-top {
    display: flex;
    justify-content: center;
    border: 1px solid cornflowerblue;
}

.main .content-top .block-title .main-title:after {
    content: "";
    display: block;
    background: blueviolet;
    width: 50px;
    height: 16px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
    border-top: 1px solid red;
}

.main .content-top .block-title .main-title,
.main .content-top .block-title .mini-title {
    font-weight: bold;
    text-transform: uppercase;
}

.main .content-top .block-title .main-title {
    color: blueviolet;
}

.main .content-top .block-title .mini-title {
    color: darkgray;
}

.content-table {
    display: flex;
    width: 240px;
    justify-content: space-between;
}

.content-table .fullname:after {
    content: ":";
    margin-left: 40px;
}
